{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">

    <h3 class="text-center mb-3">Student Registrieren</h3>

    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

      <form method="post">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Matrikelnummer</label>
        <input class="form-control" name="matriculation_number" required>
      </div>

      <div class="mb-3">
        <label class="form-label">HWR Email</label>
        <input class="form-control" type="email" name="email" placeholder="name@hwr-berlin.de" required>
      </div>

      <button class="btn btn-dark w-100" type="submit">Register</button>
    </form>

    <div class="text-center mt-3">
      <a href="{{ url_for('login') }}">Zum Login</a>
    </div>

  </div>
</div>
{% endblock %}
