{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Admin Dashboard</h2>

<div class="row g-3">

  <div class="col-md-4">
    <div class="card shadow-sm border-primary">
      <div class="card-body">
        <h5 class="card-title">Total Posts</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm border-warning">
      <div class="card-body">
        <h5 class="card-title">Offene Posts</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm border-success">
      <div class="card-body">
        <h5 class="card-title">User</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
